* {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  color: #222629;
}

.review-img {
  max-width: 100%;
}

.thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.votes {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
