* {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
}

.logo {
  height: 70px;
  margin: 12px 20px 12px 12px;
  float: left;
  padding-bottom: 12px;
}

.review-img {
  max-width: 100%;
}

.thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
a {
  color: #86c232;
  margin: 8px;
  font-size: 1.5rem;
  text-decoration: none;
}

.votes {
  cursor: pointer;
}
